* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #282d35;
}

nav {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #11222a;
    padding: 30px 25px;
}
nav > h3 {
    margin: 0;
    margin-right: auto;
    color: #61dafb;
    font-size: 22px;
}
nav > h4 {
  color: white ;
}

main {
    padding: 57px 27px;
    color: white;
}

.main--title {
    margin: 0;
    font-size:39px;
}
